@font-face {
    font-family: 'gnuolane';
    src: url('../fonts/gnuolane_rg.eot');
    src: url('../fonts/gnuolane_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gnuolane_rg.woff') format('woff'),
         url('../fonts/gnuolane_rg.ttf') format('truetype'),
         url('../fonts/gnuolane_rg.svg#gnuolane') format('svg');
    font-weight: normal;
    font-style: normal;

}