html, body {
	width: 100%;
	background: url('../img/dots.png');
}

.navbar {
	-webkit-border-radius: 0;
	-moz-box-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0px 0px 5px 1px #777;
	-moz-box-shadow: 0px 0px 5px 1px #777;
	box-shadow: 0px 0px 5px 1px #777;
}

.box:first-child {
	margin-top: 0;
}

.box {
	margin-top: 21px;
	padding: 15px;
	background: #FFF;
	-webkit-box-shadow: 0px 0px 5px 1px #999;
	-moz-box-shadow: 0px 0px 5px 1px #999;
	box-shadow: 0px 0px 5px 1px #999;
}

.td-panel {
	background: #f8f8f8;
	color: #333;
}

.align_center {
	margin-left: auto;
	margin-right: auto;
}

#head {
	width: 100%;
	height: 192px;
	background: #c97764;
	margin-bottom: 4%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

#logo-desktop {
	position: absolute;
}

#rw-nav {
	font-family: 'gnuolane';
	text-transform: uppercase;
	margin-top: 10%;
	margin-left: 33%;
	font-size: 1.4em;
}

#rw-nav > li.active > a, #rw-nav > li.active > a:focus {
	background-color: #935749;
	color: #f29e8b;
	text-shadow: 0px 1px 3px #AAA;
}

#rw-nav > li.active > a:hover {
	color: #ffa792;
	text-decoration: underline;
}

#rw-nav > li > a {
	color: #E5E5E5;
}

#rw-nav > li > a:focus, #rw-nav > li > a:hover {
	text-decoration: underline;
	background-color: #ac6756;
	color: #e6bbb1;
}
#rw-nav > li.dropdown > ul.dropdown-menu {
	background-color: #ac6756;
}

#rw-nav > li.dropdown > ul.dropdown-menu > li.divider {
	background-color: #935749;
}

#rw-nav > li.dropdown > ul.dropdown-menu > li > a:hover {
	background-color: #7f4b3f;
}

#head-mb {
	background: #d88a77;
	width: 100%;
}

#login_box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#login_box #login_form {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}

#ruleFilled {
	width: 70%;
}

#ruleTable {
	width: 60%;
}

#scroll_top {
	display: none;
	position: fixed;
	width: 40px;
	height: 40px;
	right: 100px;
	bottom: 50px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	text-indent: -9999px;
	background: url('../img/icon_top.png') no-repeat;
}

#leaderImg {
	padding: 3px;
	border: 1px #ccc solid;
}
#ribbon{

		position: absolute;
		left: 400px;
		top: 100px;
		z-index: 2;
		width:200px;
	
}
#ribbon2{

		
		
		z-index: 1;
	
}
#footer {
	color: #AAA;
	background: url('../img/binding_dark.png');
}

@media (max-width: 1169px) {

	#head {
		margin-bottom: 7%;
	}

	#login_box #login_form {
		width: 70%;
	}
}

@media (max-width: 970px) {

	#login_box {
		width: 100%;
	}

	#login_box #login_form {
		width: 80%;
	}

	.box {
		margin-bottom: 20px;
	}
}

@media (max-width: 750px) {

	#login_box {
		width: 100%;
	}

	#login_box #login_form {
		width: 80%;
	}

	.box {
		margin-bottom: 20px;
	}
}