//
// Original dropdown menus
// --------------------------------------------------

// The dropdown menu (ul)
.dropdown-normal {
  background-color: @dropdown-bg-normal;
  border: 1px solid @dropdown-fallback-border-normal; // IE8 fallback

  // Dividers (basically an hr) within the dropdown
  .divider {
    .nav-divider(@dropdown-divider-bg-normal);
  }

  // Links within the dropdown menu
  > li > a {
    color: @dropdown-link-color-normal;
  }
}

// Hover/Focus state
.dropdown-normal > li > a {
  &:hover,
  &:focus {
    color: @dropdown-link-hover-color-normal;
    background-color: @dropdown-link-hover-bg-normal;
  }
}

